<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Home {% endblock %} - Live English Speak</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
      input[type=text], input[type=password], input[type=email], input[type=number] {
        padding: 8px;
        border: 1px solid #eee;
        border-radius: 18px;
        width: 100%;
        background: white;
        padding: 10px 20px;
      }

      .button {
        background: orange;
        padding: 12px;
        border-radius: 15px;
      }

      p {
        margin: 12px 0;
      }
    </style>

  </head>
  <body>

    <div class="flex flex-col min-h-screen bg-gray-100 shadow-md">
        <header class=" bg-gray-300">
        <div class="flex items-center justify-between max-w-7xl mx-auto px-4 py-4">
            <a href="/" class="font-bold uppercase text-lg"><h1>Live Speak</h1></a>
            <nav>
            <ul class="flex items-center space-x-3">
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <form class="logout" action="{% url 'users:logout' %}" method="post">
                  {% csrf_token %}
                  <button class="logout-button" type="submit">Sair ({{ user.username }}) </button>
                </form>
                {% else %}
                <li><a href="{% url 'users:login' %}">Log in</a></li>
                 <li><a href="{% url 'users:register' %}">Registo</a></li>
                {% endif %}

                 
            </ul>
            </nav>
        </div>
        </header>

        <main class="flex-grow">
        <div class="flex flex-col items-center justify-between max-w-7xl mx-auto px-4 py-8">
            {% block content %}
            <!-- Content will be injected here -->
            {% endblock %}
        </div>
        </main>

        <footer class="border-t border-gray-300">
        <div class=" max-w-7xl mx-auto px-4 py-8 ">&copy; 2025 Live Speak</div>
        </footer>
    </div>

  </body>
</html>
